<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--mybatis全局属性-->
	<settings>
		<!--使用jdbc的getGenerateKeys获取数据库自增主键值-->
		<setting name="useGeneratedKeys" value="true"/>
		<!--使用列别名自动替换列名 默认：true-->
		<setting name="useColumnLabel" value="true"/>
		<!--开启驼峰命名规范,mybatis完成下划线到entity对应实体的自动转换-->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
</configuration>